.login__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 25spx;
    text-align: center;
}

.login-form__heading h2 {
    font-size: 22px;
}

.form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.form__group {
    margin-bottom: 8px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 48px;
    border: 2px solid #909090;
    border-radius: 5px;
    background: #eee;

    appearance: none;
}

.form__button {
    margin-top: 8px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 48px;
}

.register__link,
.register__link a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #214be0;
    font-size: 16px;
}

.register__description {
    color: #909090;
    margin-bottom: 0;
    font-size: 16px;
}
