.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.date-navigation{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 5px;
    align-items: center;
}

.date-navigation h2 {
    color: #000;
    font-size: 22px;
    font-weight: 550;
}

.date-navigation a {
    border:#214be0 1px solid;
    background: #fff;
    color:#214be0;
    padding: 0px 8px;
    width: 40px;
    text-decoration: none;
    font-size: 22px;
}


.attendance-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-top: 1px solid #aaa;
}

.attendance-table__header, .attendance-table__item {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    height: 68px;
}

.attendance-table__header {
    font-weight: 800;
}

button[disabled] {
    background-color: #ccc; /* グレーアウト */
    cursor: not-allowed !important; /* カーソルをポインタ以外に */
}