.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.welcome-message {
    text-align: center

}

.welcome-message__inner{
  font-size: 20px;
}

.attendance__panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}

.attendance__button {
    width: 50%;
    text-align: center;
    padding: 15px;
}

.attendance__button-submit {
    padding: 5px;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 3px;
    background: white;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #eee;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.attendance__button-submit:first-child {
    margin-right: 20px;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1400px;
}

button[disabled] {
    color: #ccc; /* 非活性化文字のグレーアウト */
    cursor: not-allowed !important; /* カーソルをポインタ以外に */
}
