.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance__heading {
    margin: 30px auto 20px;
    text-align: center;
}

.attendance__heading h2{
    font-size: 22px;
}

.search-form{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:50px;
    width: 100%;
}

.search-form input{
    width: 380px;
    height: 38px;
    padding: 10px;
    border: 2px solid #909090;
    border-radius: 5px;
    background: #eee;

    appearance: none;
}

.search-form button{
    padding: 6px 8px;
    width: 60px;
    height: 38px;
}

.attendance-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-top: 1px solid #aaa;
}

.attendance-table__header, .attendance-table__item {
    width: 25%;
    text-align: left;
    padding-left: 5%;
    height: 68px;
}

.attendance-table__header {
    font-weight: 800;
}

.detail-form__button{
    height: 80%;
}

.detail-form__button-submit{
    padding: 4px 8px;
    width: 60%;
}
