.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance__heading {
    margin-bottom: 20px;
    text-align: center;
}

.attendance__heading h2{
    font-size: 22px;
}


.attendance-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-top: 1px solid #aaa;
}

.attendance-table__header, .attendance-table__item {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    height: 68px;
}

.attendance-table__header {
    font-weight: 800;
}

button[disabled] {
    background-color: #ccc; /* グレーアウト */
    cursor: not-allowed !important; /* カーソルをポインタ以外に */
}

.users-link a {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: #214be0;
}
